#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


@keyframes changeText0 {
  0% {
    content: "3";
  }
  33% {
    content: "2";
  }
  66% {
    content: "1";
  }
  100% {
    content: "0";
  }
}


@keyframes changeText1 {
  0% {
    content: "3";
  }
  33% {
    content: "2";
  }
  66% {
    content: "1";
  }
  100% {
    content: "0";
  }
}

@keyframes changeText2 {
  0% {
    content: "3";
  }
  33% {
    content: "2";
  }
  66% {
    content: "1";
  }
  100% {
    content: "0";
  }
}


.box0::after {
  content: "3";
  display: block;
  font-size: 48px;
  text-align: center;
  animation: changeText0 3s steps(3) forwards;
}

.box0 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
  border: 1px solid black;
}





/* Aplicar la animación al pseudo-elemento */
.box1::after {
  content: "3";
  display: block;
  font-size: 48px;
  text-align: center;
  animation: changeText1 3s steps(3) forwards;
}

.box1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
  border: 1px solid black;
}




/* Aplicar la animación al pseudo-elemento */
.box2::after {
  content: "3";
  display: block;
  font-size: 48px;
  text-align: center;
  animation: changeText2 3s steps(3) forwards;
}

.box2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
  border: 1px solid black;
}



.absolute2 {
  position: absolute;
  left: -9999px;
  top: -9999px;
}




@keyframes loading {
  0% {
    opacity: 0;
  }
 
  100% {
   opacity: 1;
  }
}



.loadingx {
  
  animation: loading 2s infinite;
}