

@keyframes changeText0 {
  0% {
    content: "3";
    color:#f8df6d;
    scale: 1;
  }

  32% {
    content: "3";
    color: #f8df6d;
    scale: 1.3;
  }
  33% {
    content: "2";
    color: #ed2124;
    scale: 1;
  }

  65% {
    content: "2";
    color: #ed2124;
    scale: 1.3;
  }
  66% {
    content: "1";
    color: #49a605;
    scale: 1
  }

  99% {
    content: "1";
    color: #49a605;
    scale: 1.3;
  }
  100% {
    content: "";
  }
}


@keyframes changeText1 {
  0% {
    content: "3";
    color:#f8df6d;
    scale: 1;
  }

  32% {
    content: "3";
    color: #f8df6d;
    scale: 1.3;
  }
  33% {
    content: "2";
    color: #ed2124;
    scale: 1;
  }

  65% {
    content: "2";
    color: #ed2124;
    scale: 1.3;
  }
  66% {
    content: "1";
    color: #49a605;
    scale: 1
  }

  99% {
    content: "1";
    color: #49a605;
    scale: 1.3;
  }
  100% {
    content: "";
  }
}

@keyframes changeText2 {
  0% {
    content: "3";
    color:#f8df6d;
    scale: 1;
  }

  32% {
    content: "3";
    color: #f8df6d;
    scale: 1.3;
  }
  33% {
    content: "2";
    color: #ed2124;
    scale: 1;
  }

  65% {
    content: "2";
    color: #ed2124;
    scale: 1.3;
  }
  66% {
    content: "1";
    color: #49a605;
    scale: 1
  }

  99% {
    content: "1";
    color: #49a605;
    scale: 1.3;
  }
  100% {
    content: "";
  }
}


.box0::after {
  content: "3";
  display: block;
  font-size: 48px;
  text-align: center;
  animation: changeText0 3s  ease-in-out forwards;
}

.box0 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
 
}





/* Aplicar la animación al pseudo-elemento */
.box1::after {
  content: "3";
  display: block;
  font-size: 48px;
  text-align: center;
  animation: changeText1 3s  ease-in-out forwards;
}

.box1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;

}




/* Aplicar la animación al pseudo-elemento */
.box2::after {
  content: "3";
  display: block;
  font-size: 48px;
  text-align: center;
  animation: changeText2 3s ease-in-out forwards;
}

.box2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
  
}



.absolute2 {
  position: absolute;
  left: -9999px;
  top: -9999px;
}




@keyframes loading {
  0% {
    opacity: 0;
  }
 
  100% {
   opacity: 1;
  }
}



.loadingx {
  
  animation: loading 2s infinite;
}