@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'MiFuentePersonalizada';
    src: url('/font/Carton_Six.ttf') format('truetype');
 
    font-weight: normal;
    font-style: normal;
  }


  body {
    font-family: 'MiFuentePersonalizada', sans-serif;
  }

  
@keyframes loading1 {
    0% {
      opacity: 0;
    }
  
    10% {
      opacity: 0.9;
    }
    20% {
      opacity: 0.9;
    }
  
    30% {
      opacity: 0.9;
    }
  
    40% {
      opacity: 0.9;
    }
  
    50% {
      opacity: 0.9;
    }
  
    60% {
      opacity: 0.9;
    }
  
    70% {
      opacity: 0.9;
    }
  
    80% {
      opacity: 0.9;
    }
  
    90% {
      opacity: 0.9;
    }
  
    100% {
      opacity: 0;
    }
  }
  
  .loadingCreative1 {
    animation: loading1 7s infinite;
  }


@keyframes loading2 {
    0% {
      opacity: 0;
    }
  
    10% {
      opacity: 0;
    }
    20% {
      opacity: 0.9;
    }
  
    30% {
      opacity: 0.9;
    }
  
    40% {
      opacity: 0.9;
    }
  
    50% {
      opacity: 0.9;
    }
  
    60% {
      opacity: 0.9;
    }
  
    70% {
      opacity: 0.9;
    }
  
    80% {
      opacity: 0.9;
    }
  
    90% {
      opacity: 0.9;
    }
  
    100% {
      opacity: 0;
    }
  }
  
  .loadingCreative2 {
    animation: loading2 7s infinite;
  }

  @keyframes loading3 {
    0% {
      opacity: 0;
    }
  
    10% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
  
    30% {
      opacity: 0.9;
    }
  
    40% {
      opacity: 0.9;
    }
  
    50% {
      opacity: 0.9;
    }
  
    60% {
      opacity: 0.9;
    }
  
    70% {
      opacity: 0.9;
    }
  
    80% {
      opacity: 0.9;
    }
  
    90% {
      opacity: 0.9;
    }
  
    100% {
      opacity: 0;
    }
  }
  
  .loadingCreative3 {
    animation: loading3 7s infinite;
  }

  @keyframes loading4 {
    0% {
      opacity: 0;
    }
  
    10% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
  
    30% {
      opacity: 0;
    }
  
    40% {
      opacity: 0.9;
    }
  
    50% {
      opacity: 0.9;
    }
  
    60% {
      opacity: 0.9;
    }
  
    70% {
      opacity: 0.9;
    }
  
    80% {
      opacity: 0.9;
    }
  
    90% {
      opacity: 0.9;
    }
  
    100% {
      opacity: 0;
    }
  }
  
  .loadingCreative4 {
    animation: loading4 7s infinite;
  }

  @keyframes loading5 {
    0% {
      opacity: 0;
    }
  
    10% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
  
    30% {
      opacity: 0;
    }
  
    40% {
      opacity: 0;
    }
  
    50% {
      opacity: 0.9;
    }
  
    60% {
      opacity: 0.9;
    }
  
    70% {
      opacity: 0.9;
    }
  
    80% {
      opacity: 0.9;
    }
  
    90% {
      opacity: 0.9;
    }
  
    100% {
      opacity: 0;
    }
  }
  
  .loadingCreative5 {
    animation: loading5 7s infinite;
  }

  @keyframes loading6 {
    0% {
      opacity: 0;
    }
  
    10% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
  
    30% {
      opacity: 0;
    }
  
    40% {
      opacity: 0;
    }
  
    50% {
      opacity: 0;
    }
  
    60% {
      opacity: 0.9;
    }
  
    70% {
      opacity: 0.9;
    }
  
    80% {
      opacity: 0.9;
    }
  
    90% {
      opacity: 0.9;
    }
  
    100% {
      opacity: 0;
    }
  }
  
  .loadingCreative6 {
    animation: loading6 7s infinite;
  }

  @keyframes loading7 {
    0% {
      opacity: 0;
    }
  
    10% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
  
    30% {
      opacity: 0;
    }
  
    40% {
      opacity: 0;
    }
  
    50% {
      opacity: 0;
    }
  
    60% {
      opacity: 0;
    }
  
    70% {
      opacity: 0.9;
    }
  
    80% {
      opacity: 0.9;
    }
  
    90% {
      opacity: 0.9;
    }
  
    100% {
      opacity: 0;
    }
  }
  
  .loadingCreative7 {
    animation: loading7 7s infinite;
  }
